!!!5
%html{class:"no-js", lang:"es-mx"}
	%head
		%meta{charset:"UTF-8"}
		%title El Zalate
		%meta{name:"Zalate Cantina-Bar", content:"Un lugar diferente, que busca generar un ambiente agradable de convivencia y conservar las costumbres y tradiciones de un pueblo."}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}

		%link{rel:"stylesheet", href:"/offline/style.css"}
	%body
		%p#message Al parecer no tienes conexión a Internet, no hay problema, puedes disfrutar de la pagina en una version reducida.
		.container
			%h1 El Zalate
			%p
				%strong Dirección:
				Pedro Moreno #27 esquina con Benito Juarez, Atequiza
			%p
				%strong Horario:
				7:00PM - 12:30AM
			%p
				%strong Telefono:
				01 376 737 0017
			#map
				%img{src:"/offline/map.png"}
				%p Este mapa te muestra nuestra localización
